.button-gradient {
    color: $theme-color;
    font-weight: bold;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 4rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem #ddd;
    background-image: linear-gradient(to right, #fff 0%, #fff 50%, #555 100%);
    cursor: pointer;
    user-select: none;
}

.button-gradient:hover {
    color: #fff;
    text-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(
        to right,
        #fff 0%,
        $theme-color 50%,
        $theme-color 100%
    );
    background-position: right center;
}

.button-gradient:active {
    opacity: 0.5;
}

// 锚点
.right-anchor {
    font-size: 1.2rem;
    min-width: 20rem;
    max-height: calc(100vh - 25rem);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 8rem;
    right: 0.1rem;
    text-align: left;
    background: #fff;
    border-radius: 0.4rem;
    overflow-y: auto;

    .right-anchor-link {
        margin-left: 1rem;
        padding: 0.7rem 1rem 0.7rem 1.6rem;
        position: relative;
        a {
            border: none;
            cursor: pointer;
        }
        :nth-child(2).right-anchor-link {
            margin-top: 0.7rem;
        }
    }

    .right-anchor-link .right-anchor-link{
        padding: 0.3rem;
    }

    & > .right-anchor-link::after {
        content: ' ';
        display: block;
        width: 2px;
        height: 100%;
        margin: 0 auto;
        background-color: #e8e8e8;
        position: absolute;
        top: 0;
        left: 0rem;
    }

    .right-anchor-link-actived {
        position: relative;
        & > a {
            color: $theme-link-color !important;
        }

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: -5px;
            width: 8px;
            height: 8px;
            background-color: #fff;
            border: 2px solid $theme-link-color;
            border-radius: 50%;
            z-index: 1;
        }
    }
}

@media screen and (max-width: 1000px) {
    .right-anchor {
        display: none;
    }
}

/* 全局样式修改 */

::selection {
    // 选中复制时样式
    background: $theme-link-color;
    color: #fff;
}

a {
    color: $theme-color;
    text-decoration: none;
    border-bottom: 1px solid $theme-color;
}
a:hover {
    color: $theme-link-color;
    border-bottom: none;
    border-bottom: 1px solid $theme-link-color;
}

::-webkit-scrollbar {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
}
::-webkit-scrollbar-track {
    border-radius: 0.8rem;
    &:hover {
        background-color: rgba(180, 180, 180, 0.3);
    }
}
::-webkit-scrollbar-thumb {
    border-radius: 0.8rem;
    background-color: rgba(180, 180, 180, 0.8);
    &:hover {
        background-color: rgba(50, 50, 50, 0.5);
    }
}
.hidden-scrollbar {
    // 给父级滚动容器添加此class，鼠标移入容器才显示滚动条
    ::-webkit-scrollbar-thumb {
        background-color: rgba(180, 180, 180, 0);
    }
    &:hover ::-webkit-scrollbar-thumb {
        background-color: rgba(180, 180, 180, 0.8);
        &:hover {
            background-color: rgba(50, 50, 50, 0.5);
        }
    }
}

// 代码换行
code {
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 4px;
}
// 分割线
hr {
    margin: 3rem 0;
    height: 0.3rem;
    border: none;
    background-color: #ddd;
    background-image: repeating-linear-gradient(
        -45deg,
        #fff,
        #fff 0.4rem,
        transparent 0.4rem,
        transparent 0.8rem
    );
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    th,
    td {
        border: 1px solid $theme-table-color;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
    }

    thead th {
        color: #fff;
        background-color: $theme-table-color;
    }
}

.pace .pace-progress {
    background: #333;
    /*进度条颜色*/
    height: 2px;
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px #333, 0 0 5px #333;
    /*阴影颜色*/
}

.pace .pace-activity {
    border-top-color: #333;
    /*上边框颜色*/
    border-left-color: #333;
    /*左边框颜色*/
}
