.button-gradient {
    color: $theme-color;
    font-weight: bold;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 4rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem #ddd;
    background-image: linear-gradient(to right, #fff 0%, #fff 50%, #555 100%);
    cursor: pointer;
    user-select: none;
}

.button-gradient:hover {
    color: #fff;
    text-shadow: 0 0 .3rem rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(to right, #fff 0%, $theme-color 50%, $theme-color 100%);
    background-position: right center;
}

.button-gradient:active{
    opacity: 0.5;
}